@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-bg: #1a202c;
  --dark-text: #ffffff;
  --light-bg: #ffffff;
  --light-text: #000000;
}

::-webkit-scrollbar{
    display: none;
}

/* Enable smooth scrolling */
html {
  scroll-behavior: smooth;
}



/* Custom configuration for dark and light mode */



